<div class="container">
  <footer>
    <small>Copyright &copy; <a href="#">CrikoC</a></small>
    <nav>
      <ul>
        <li><%= link_to 'home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Articles', articles_path %></li>
      </ul>
    </nav>
  </footer>
</div>
